---
import Cards from "@components/Cards.astro";
import { clientGql } from "@graphql-astro/apolloClient";
import { CursosDocument, type Curso } from "@graphql-astro/generated/graphql";
import Layout from "@layouts/Layout.astro";
import { getCoursesJsonLd } from "src/utils/jsonld";

const { data } = await clientGql.query({
  query: CursosDocument,
  variables: { offset: 0, limit: 10 },
});



const cursos: Curso[] = data?.Cursos;
const coursesJsonLd = getCoursesJsonLd(cursos)
---

<Layout tituloPagina="Cursos" seoJsonLd={coursesJsonLd}>
  <h1 class="text-2xl font-bold text-center my-6">Catálogo de Cursos</h1>

<section class="grid grid-cols-1 md:grid-cols-3 gap-4 px-8">
  {cursos.map((curso) => ( <Cards {...curso} isBig={false}/>  ))}
  
</section>


</Layout>


