---
import "../styles/global.css";
interface Props {
	tituloPagina:string
}

const { tituloPagina } = Astro.props

---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{tituloPagina}</title>
</head>
<body class="bg-slate-800 text-slate-100 m-auto max-w-3xl border-4 border-amber-500">
	<slot/>
</body>
</html>