---
import slugify from "slugify";


import type { GetStaticPaths } from "astro";
import { clientGql } from "../../graphql/apolloClient";
import { CursosDocument, type Curso } from "../../graphql/generated/graphql";
import "../../styles/global.css";
import Layout from "../../layouts/Layout.astro";



export const getStaticPaths = (async() => {
  const { data } = await clientGql.query({
  query: CursosDocument,
  variables: { offset: 0, limit: 10 },
});

const cursos: Curso[] = data?.Cursos;

const prospParams = cursos.map(curso => ({
  
    props: {...curso},
    params:{slugCourseTitle:  slugify(curso.courseTitle, { lower: true, strict: true })}}))

    console.log(prospParams)
    return [...prospParams];
}) satisfies GetStaticPaths;


const { courseTitle, imagenURL, descripcionCorta, duracionHoras, precio, _id } = Astro.props as Curso 


---

<Layout tituloPagina={courseTitle} >
  <h1 class="flex flex-col justify-center items-center">{courseTitle}</h1>

<div class="flex">
  <h2>sdcsdcs</h2>
  <img src={imagenURL?.url} alt={imagenURL?.alt} >
</div>
</Layout>